<div class="layout">
  <!-- Sidebar -->
  <button id="sidebar-toggle-btn" (click)="toggleSidebar()">☰</button>
  <aside [class.hidden]="sidebarHidden" class="sidebar" id="sidebar">
    <!-- Sidebar content here -->

  
    <h3>Admin</h3>
    <nav>
      <ul>
        <li>
          <a routerLink="/admin-navbar/admin-dashboard" 
             routerLinkActive="active-button" 
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="collapseSidebar()">Dashboard</a>
        </li>
        <li>
          <a routerLink="/admin-navbar/all-organization" 
             routerLinkActive="active-button" 
             (click)="collapseSidebar()">Evaluation</a>
        </li>
        <li>
          <a routerLink="/admin-navbar/organization" 
             routerLinkActive="active-button" 
             (click)="collapseSidebar()">Organization</a>
        </li>
        <li>
          <a routerLink="/admin-navbar/schools" 
             routerLinkActive="active-button" 
             (click)="collapseSidebar()">Schools</a>
        </li>
        <li>
          <a routerLink="/admin-navbar/tsc" 
             routerLinkActive="active-button" 
             (click)="collapseSidebar()">TSC's</a>
        </li>
        <li>
          <a routerLink="/admin-navbar/teacher" 
             routerLinkActive="active-button" 
             (click)="collapseSidebar()">Teachers</a>
        </li>
      </ul>
    </nav>
    
    
  </aside>

  <!-- Main content -->
  <div class="main">
    <!-- Header toolbar -->
    <header class="header">
      <!-- Menu toggle button -->
      <button class="menu-toggle" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon> <!-- Hamburger Icon -->
      </button>

      <!-- Back button icon (disabled when on specific pages like admin-dashboard) -->
      <button *ngIf="showBackButton && !currentUrl.includes('admin-dashboard')" (click)="goBack()" class="back-button">

        <mat-icon>arrow_back</mat-icon>
      </button>
        
      <button *ngIf="!showBackButton" class="back-button disabled" disabled>
        <mat-icon>arrow_back</mat-icon> <!-- Masked Icon -->
      </button>

      <div class="profile" (click)="toggleDropdown()">
        <span class="profile-text">My Profile</span>
        <i class="profile-icon">
          <img src="assets/profile-user.png" alt="User Icon" class="user-icon" />
        </i>
        <div [class.active]="dropdownActive" class="dropdown" id="profileDropdown">
          <a routerLink="/admin-navbar/userdetails">Profile</a><br />
          <a routerLink="/admin-navbar/reset-password">Reset Password</a><br />
          <a routerLink="/login">Logout</a>
        </div>
      </div>
    </header>

    <!-- Main content area -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>